*,
*::before,
*::after {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin-top: 50px;
  /* padding-top: 200px; --> */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header {
  background-color: #732a6e;
  top:0;
  position: fixed;
  width: 100%;
  z-index: 999999;
}



nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

nav li{
  height: 50px;
}

.navbar a {
  height: 100%; 
  padding: 0rem 1.2rem; 
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #eff0ed;
  
 
 
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 2rem;
}

nav a:hover{
  background-color: #aa6a8c;
}

.navbar li:first-child {                                  
  color: #eff0ed;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;

  padding: 0 1rem;
  margin-right: auto;
  display: flex;
  align-items: center;
}


.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 9rem;
  z-index: 999;
  background-color: #732a6eab;
  backdrop-filter: blur(3rem);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.sidebar li{
  width: 100%;
}

.sidebar a {
  width: 100%;
  height: 100%; 
  padding: 0rem 1.2rem; 
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #eff0ed;
  
 
 
  font-size: 1.1rem;
  cursor: pointer;
}

.hero {
  height: 60vh;
  width: 100%;
  position: relative;
}

.restaurant{
  width: 100%;
  height: 100%;
}

.hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.logga{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  font-weight: bold;
  z-index: 2;
  width: 70%;
  height: 40%;
}


.om-oss-container {
  text-align: center;
  background: #732a6e;
  color: #eff0ed;
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 1rem;
}

.om-oss-container h1 {
  margin-top: 0%;
  margin-bottom: 1rem;
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.om-oss-container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.text {
  padding-left: 20%;
  padding-right: 20%;
}


.öppettider-container {
  text-align: center;
  background: #732a6e;
  color: #eff0ed;
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 1rem;
}

.öppettider-container h1 {
  margin-top: 0%;
  margin-bottom: 1rem;
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.öppettider-container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.öppettider-text {
  padding-left: 20%;
  padding-right: 20%;
}


.column {
  float: left;
  width: 50%;
  padding: 0.5rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.kontakt-container {
  padding: 20px;

  background: #221927;
  color: #eff0ed;
}

.kontakt-container h1 {
  font-size: 2rem;
}

footer {
  background-color: #732a6ee0;
  color: #221927;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

@media(max-width: 800px) {
  /* For mobile phones: */
  body{
    width: 100%;
  }
  .hideOnMobile{
    display: none;
  }
  
  .hero{
    height: 25rem;
  }

  .om-oss-container h1{
    font-size: 5rem;
  }
  .om-oss-container p{
    font-size: 1.2rem;
  }

  .öppettider-container h1{
    font-size: 3.5rem;
  }
  .öppettider-container p{
    font-size: 1.2rem;
  }

  .kontakt-container h1{
    font-size: 2rem;
  }
  .kontakt-container p{
    font-size: 1rem;
  }

}


@media(max-width: 400px){
  .navbar li:first-child{
    font-size: 1.1rem;
  }

  .sidebar{
    width: 100%;
  }

  .hero{
    height: 8rem;
  }

  .om-oss-container h1{
    font-size: 2.5rem;
  }
  .om-oss-container p{
    font-size: 1rem;
  }
  
  .öppettider-container h1{
    font-size: 2rem;
  }
  .öppettider-container p{
    font-size: 1rem;
  }

  .kontakt-container h1{
    font-size: 1.7rem;
  }
  .kontakt-container p{
    font-size: 1rem;
  }

}