*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 25%;
  /* padding-top: 200px; --> */
}

header {
  color: #fff;
  background-color: #ffffff;
  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
  
}

nav {
  background-color: #8a036d;
  color: #fff;
  padding: 10px;
  text-align: center;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  
}




main {
  padding: 20px;
  width: 100%;
  height: 100%;

}

footer {
  background-color: #cc66c7;
  color: #fff;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  header, main, body, footer {
    width: 100%;
  }
}
